* {
    margin: 0px;
    padding: 0px;
}

body{
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: rgb(19, 17, 17);
}

#preloader{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 10000;
    overflow: hidden;
}

.preloader-logo{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 50%)
}

.dissapear{
    animation: vanish 2s forwards;
}

@keyframes vanish{
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

#path-one{
    animation: animateOne -0.5s linear 1s infinite alternate;
}

#path-two{
    animation: animateOne -0.5s linear 1s infinite alternate;
}

#path-three{
    animation: animateOne -0.5s linear 1s infinite alternate;
}

#path-four{
    animation: animateOne -0.5s linear 1s infinite alternate;
}

#path-five{
    animation: animateOne -0.5s linear 1s infinite alternate;
}

#path-six{
    animation: animateOne -0.5s linear 1s infinite alternate;
}

#path-seven{
    animation: animateOne -0.5s linear 1s infinite alternate;
}

#path-eight{
    animation: animateOne -0.5s linear 1s infinite alternate;
}

#path-circle{
    animation: animateOne -0.5s linear 1s infinite alternate;
}

#path-text{
    animation: animateOne -0.5s linear 1s infinite alternate;
}

@keyframes animateOne {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

nav {
    background-color: rgb(19, 17, 17);
    position: relative;
    display: flex;
    justify-content: space-around;
    color : white;
    font-family: 'DM Sans', sans-serif;
    height: 70px;
    align-items: center;
    z-index: 1;
    border-bottom: 1px solid white;
    box-shadow: 0 6px 8px 0 rgba(255,0,230,0.8);
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.logo img{
    width: 65%;
    float: left;
}

nav ul {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    padding-top: 20px;
    width : 60%;
    float: right
}

nav ul li a {
    color : white;
    text-decoration: none;
    font-size: 0.95em;
    margin-left: 40px;
}

nav ul li a:hover {
    color : magenta;
    transition: all 0.4s;
    cursor: pointer;
}

nav ul li a:active {
    border-radius: 4px;
    border-color: white;
    color: black;
    background-color: white;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
}

/*Hamburger menu*/
.menu-toggle {
    display: none;
    flex-direction: column;
    height : 20px;
    justify-content:space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width : 41px;
    height : 28px;
    left: -5.8px;
    top: -3px;
    opacity : 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width : 28px;
    height :3px;
    border-radius: 3px;
    background-color: white;
    transition: all 0.4s;
}

/*Hamburger Menu Animation*/
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: rgb(236, 113, 236);
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4){
    background-color: rgb(236, 113, 236);
    transform: rotate(-45deg) translate(-1px, 0);
}

/* Responsive Breakpoint */

/*ukuran tablet*/
@media screen and (max-width : 992px) {
    nav ul {
        width : 50%;
    }
}


@media screen and (max-width : 768px) {
    nav ul {
        width : 70%;
    }
}

/*ukuran mobile*/
@media screen and (max-width : 576px) {
    .menu-toggle {
        display: flex;
    }

    nav {
        width: 100%;
        position: fixed;
    }

    nav ul {
        text-decoration: none;
        padding: 0;
        position: fixed;
        top : 73.1px;
        width : 100%;
        height: 100%;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        align-items: center;
        background-image: url(./imgcss/pink-hexagon.png);
        z-index: -1;
        transform: translateY(-100%);
        transition: all 1s;
        opacity: 0;
        font-weight: bolder;
        font-size: 25px;
    }

    nav ul.slide{
        opacity : 1;
        transform: translateY(0);
    }
}

.covid19-title {
    text-align: center;
    padding-top: 140px;
    color: white;
    font-weight: 500;
}

.row .col-md-6.col-sm-12 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    padding-bottom: 200px;
}

.card {
    position: relative;
    align-items: center;
}

.card-subtitle {
    padding-top: 10px;
    font-weight: 700;
    color: white;
}



footer{
    margin: 0px;
    padding-top: 10px;
    background-color: black;
    z-index: -1;
    border-top: 1px solid white;
    box-shadow: 0px 0px 0px 3px rgba(255,0,230,0.8);
}

.footer-section-1{
    color:white;
    font-family: 'Quicksand', sans-serif;
}

.logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer img{
    width : 50%;
}

.logo-link{
    float: right;
}

.logo-link i {
    padding-right: 10px;
    color : white;
    transition-duration: 0.4s;
}

footer .logo-link i:hover{
    color:magenta;
}

footer .row{
    padding-bottom: 0;
}