* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.container-fluid{
    z-index: 1;
    border-bottom: 1px solid white;
    box-shadow: 0 6px 8px 0 rgba(255,0,230,0.5);
}

.navbar-dark {
    background-color: black;
}

.nav-item{
    padding-right: 20px;
    display: flex;
    float: right;
}

header{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: black;
    height: auto;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: justify;
}

header .col-md-4 .headertitle {
    padding-top: 250px;
}

header .imgforheader img{
    width: 100%;
    align-items:unset;
}

.header .container .row {
    color:white;
}

a.button-header{
    background: none;
    border-radius: 10px;
    border: 2px double white;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color:white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.4s;
}

a.button-header:hover {
    background-color: white; 
    color: black;
}

main{
    background-color:black;
}

.about-myself-title{
    text-align: center;
    color:white;
    padding-top: 70px;
}

.about-myself{
    text-align: center;
    color:white;
}

.image-about{
    position: relative;
    display: flex;
    align-items: center;
}

.image-about img{
    display: relative;
    margin: auto;
    width: 70%;
    height: 70%;
    border-radius: 50%;
}

.button-to-achievement {
    display: flex;
    justify-content: center;
    align-items: center;
}

.achievement-card .col-md-3 {
    align-items: center;
    display: inline;
    margin-top: 10px;
    padding-left: 10px;
}

.achievement-title{
    text-align: center;
    color:white;
    padding-top: 100px;
}

.achievement-card .card-title{
    text-align: center;
    color : white;
    padding: 3px;
    border-bottom: 1px solid white;
}

.achievement-card .card-text{
    text-align: center;
    color: white;
}

.achievement-card .col-12{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#collegelife{
    margin-top: 100px;
}

.image-code img{
    width : 75%;
    height : 75%;
}

.collegelife-description{
    color: white;
}

.dailylife-section{
    margin-top: 100px;
}

.dailylife-title{
    color: white;
    text-align: center;
    margin-bottom: 70px;
}

.dailylife-list{
    margin: 0px 0px 0px 0px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.dailylife-list figure img{
    width : 100%;
    height : 75%;
    display: flex; 
}

.dailylife-list figure figcaption{
    color: white;
    text-align: center;
    font-weight: bold;
}

.button-to-skill .col-12 .button{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-progress-title{
    color:white;
    text-align: center;
    margin-top: 70px;
}

.skill-progress-heading{
    color:white;
    font-style: italic;
}

.button-to-myproject .button{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myproject-title{
    color:white;
    text-align: center;
    margin-top: 70px;
}

.myproject-sample{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-to-contact .button{
    margin-top: 50px;
    padding-bottom : 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-me-title{
    text-align: center;
    color:white;
    padding-top: 60px;
    padding-bottom : 10px;
}

.contact-me-description-before{
    text-align: center;
    color:white;
}

.button-to-contact-html .button{
    margin-top: 50px;
    padding-bottom : 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-the-date {
    padding-bottom: 50px;
    text-align: center;
}

.date-title{
    text-align: center;
    color:white;
    padding-top: 50px;
    padding-bottom : 10px;
}

.display-the-date button {
    background: none;
    border-radius: 10px;
    border: 2px double white;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color:white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.4s;
}

.display-the-date button:hover {
    background-color: white; 
    color: black;
}

#waktu {
    color: white;
}

footer{
    margin: 0px;
    padding-top: 10px;
    background-color: black;
    z-index: -1;
    border-top: 1px solid white;
    box-shadow: 0px 0px 0px 3px rgba(255,0,230,0.8);
}

.footer-section-1{
    color:white;
}

.logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer img{
    width : 60%;
}

.logo-link{
    float: right;
}

.logo-link i {
    padding-right: 10px;
    color : white;
    transition-duration: 0.4s;
}

footer .logo-link i:hover{
    color:magenta;
}


/* contactme.html */
.contact-person {
    padding: 10px 0;
    color : white;
}

.contact-title{
    text-align: center;
    color:white;
    padding-top: 50px;
}

.contact-description{
    padding: 20px 0;
    text-align: center  ;
}

.col-12 .button-for-send{
    padding : 25px 0 55px 0;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.button-send{
    background: none;
    border-radius: 10px;
    border: 2px double white;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color:white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.4s;
}

a.button-send:hover {
    background-color: white; 
    color: black;
}