* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(19, 17, 17);
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#preloader{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 10000;
    overflow: hidden;
}

.preloader-logo{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 50%)
}

.dissapear{
    animation: vanish 2s forwards;
}

@keyframes vanish{
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

#path-one{
    animation: animateOne -0.5s linear 1s infinite alternate;
}

#path-two{
    animation: animateOne -0.5s linear 1s infinite alternate;
}

#path-three{
    animation: animateOne -0.5s linear 1s infinite alternate;
}

#path-four{
    animation: animateOne -0.5s linear 1s infinite alternate;
}

#path-five{
    animation: animateOne -0.5s linear 1s infinite alternate;
}

#path-six{
    animation: animateOne -0.5s linear 1s infinite alternate;
}

#path-seven{
    animation: animateOne -0.5s linear 1s infinite alternate;
}

#path-eight{
    animation: animateOne -0.5s linear 1s infinite alternate;
}

#path-circle{
    animation: animateOne -0.5s linear 1s infinite alternate;
}

#path-text{
    animation: animateOne -0.5s linear 1s infinite alternate;
}

@keyframes animateOne {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}


nav {
    background-color: rgb(19, 17, 17);
    position: relative;
    display: flex;
    justify-content: space-around;
    color : white;
    font-family: 'DM Sans', sans-serif;
    height: 70px;
    align-items: center;
    z-index: 1;
    border-bottom: 1px solid white;
    box-shadow: 0 6px 8px 0 rgba(255,0,230,0.8);
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.logo img{
    width: 65%;
    float: left;
}

nav ul {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    padding-top: 20px;
    width : 60%;
    float: right
}

nav ul li a {
    color : white;
    text-decoration: none;
    font-size: 0.95em;
    margin-left: 40px;
}

nav ul li a:hover {
    color : magenta;
    transition: all 0.4s;
    cursor: pointer;
}

nav ul li a:active {
    border-radius: 4px;
    border-color: white;
    color: black;
    background-color: white;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
}

/*Hamburger menu*/
.menu-toggle {
    display: none;
    flex-direction: column;
    height : 20px;
    justify-content:space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width : 41px;
    height : 28px;
    left: -5.8px;
    top: -3px;
    opacity : 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width : 28px;
    height :3px;
    border-radius: 3px;
    background-color: white;
    transition: all 0.4s;
}

/*Hamburger Menu Animation*/
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: rgb(236, 113, 236);
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4){
    background-color: rgb(236, 113, 236);
    transform: rotate(-45deg) translate(-1px, 0);
}

/* Responsive Breakpoint */

/*ukuran tablet*/
@media screen and (max-width : 992px) {
    nav ul {
        width : 50%;
    }

    header .col-md-4.col-sm-12{
        transform: translate(0, 10%);
    }
}


@media screen and (max-width : 768px) {
    nav ul {
        width : 70%;
    }

    header .col-md-4.col-sm-12{
        transform: translate(0, 10%);
    }
}

/*ukuran mobile*/
@media screen and (max-width : 576px) {
    .menu-toggle {
        display: flex;
    }
    
    .achievement-card {
        padding-left: 28px;
    }

    nav {
        width: 100%;
        position: fixed;
    }

    header .imgforheader img{
        width: 100%;
        margin-top: 70px;
        align-items:unset;
    }

    nav ul {
        text-decoration: none;
        padding: 0;
        position: fixed;
        top : 73.1px;
        width : 100%;
        height: 100%;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        align-items: center;
        background-image: url(./imgcss/pink-hexagon.png);
        z-index: -1;
        transform: translateY(-100%);
        transition: all 1s;
        opacity: 0;
        font-weight: bolder;
        font-size: 25px;
    }

    nav ul.slide{
        opacity : 1;
        transform: translateY(0);
        font-family: 'Quicksand', sans-serif;
    }

    .header .container .row {
        color:white;
        text-align: center;
    }

    header img{
        margin-top: 70px;
    }
    
    .image-about img{
        width: 150%;
    }

    #collegelife{
        text-align: center;
    }

    .contact-title{
        margin-top: 60px;
    }
    
    a.button-header{
        margin: auto;
        text-align: center;
    }
}

header{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: auto;
    width: auto;
    background-image: url(./imgcss/star.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: justify;
}

header .col-md-4{
    transform: translate(0, 30%);
}

header .col-md-4 .headertitle {
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

header .col-md-4 .headerparagraph {
    font-family: 'Inconsolata', monospace;
    font-size: 17px;
}

header .imgforheader img{
    width: 100%;
    align-items:unset;
}

.header .container .row {
    color:white;
}

a.button-header{
    background: none;
    border-radius: 10px;
    border: 2px double white;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color:white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.4s;
    align-items: center;
}

a.button-header:hover {
    background-color: white; 
    color: black;
}

main{
    background-color:black;
}

.about-myself-title{
    text-align: center;
    color:white;
    padding-top: 70px;
    padding-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}

.about-myself{
    padding-top: 30px;
    text-align: center;
    color:white;
    font-family: 'Inconsolata', monospace;
    font-size: 17px;
}

.image-about{
    position: relative;
    display: flex;
    align-items: center;
}

.image-about img{
    margin: auto;
    width: 70%;
    height: 70%;
    border-radius: 50%;
}

.button-to-achievement {
    display: flex;
    justify-content: center;
    align-items: center;
}

.achievement-card .col-md-4 {
    align-items: center;
    display: inline;
    margin-top: 10px;
    padding-left: 10px;
    background-color: black;
}

.achievement-title{
    text-align: center;
    color:white;
    padding-top: 100px;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 30px;
}

.achievement-card .card-title{
    text-align: center;
    padding: 5px;
    border-bottom: 3px solid white;
    color: #fff;
    text-shadow:
        0 0 3px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(212, 0, 255),
        0 0 82px rgb(212, 0, 255),
        0 0 92px rgb(212, 0, 255),
        0 0 102px rgb(212, 0, 255),
        0 0 151px rgb(212, 0, 255);

}

.achievement-card .card-text{
    text-align: center;
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 17px;
}

.achievement-card .col-12{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#collegelife{
    margin-top: 100px;
}

.image-code img{
    width : 75%;
    height : 75%;
}

.collegelife-description p{
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 17px;
}

.collegelife-description h1{
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.dailylife-section{
    margin-top: 100px;
}

.dailylife-title{
    color: white;
    text-align: center;
    margin-bottom: 70px;
    font-family: 'Quicksand', sans-serif;
}

.dailylife-list{
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
}

.dailylife-section img{
    width : 100%;
    height : 75%;
    display: flex; 
}

.dailylife-section p{
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Inconsolata', monospace;
}

.button-to-skill .col-12 .button{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-progress-title{
    color:white;
    text-align: center;
    margin-top: 70px;
    font-family: 'Quicksand', sans-serif;
}

.skill-progress-heading{
    color:white;
    font-style: italic;
}

[role=progressbar] {
    background-image: linear-gradient(to left, rgb(234, 0, 255), rgb(255, 147, 255));
}

.button-to-myproject .button{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myproject-title{
    color:white;
    text-align: center;
    margin-top: 70px;
    font-family: 'Quicksand', sans-serif;
}

.myproject-sample{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-to-contact .button{
    margin-top: 50px;
    padding-bottom : 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-me-title{
    text-align: center;
    color:white;
    padding-top: 60px;
    padding-bottom : 10px;
    font-family: 'Quicksand', sans-serif;
}

.contact-me-description-before{
    text-align: center;
    color:white;
    font-family: 'Inconsolata', monospace;
}

.button-to-contact-html .button{
    margin-top: 50px;
    padding-bottom : 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-the-date {
    padding-bottom: 50px;
    text-align: center;
}

.display-the-date .date-title{
    font-family: 'Quicksand', sans-serif;
}

.display-the-date p{
    font-family: 'Inconsolata', monospace;
}

.date-title{
    text-align: center;
    color:white;
    padding-top: 50px;
    padding-bottom : 10px;
}

.display-the-date button {
    background: none;
    border-radius: 10px;
    border: 2px double white;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color:white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.4s;
}

.display-the-date button:hover {
    background-color: white; 
    color: black;
}

#waktu {
    color: white;
}

footer{
    margin: 0px;
    padding-top: 10px;
    background-color: black;
    z-index: -1;
    border-top: 1px solid white;
    box-shadow: 0px 0px 0px 3px rgba(255,0,230,0.8);
}

.footer-section-1{
    color:white;
    font-family: 'Quicksand', sans-serif;
}

.logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer img{
    width : 50%;
}

.logo-link{
    float: right;
}

.logo-link i {
    padding-right: 10px;
    color : white;
    transition-duration: 0.4s;
}

footer .logo-link i:hover{
    color:magenta;
}


/* contactme.html */
.contact-person {
    padding: 10px 0;
    color : white;
}

.contact-title{
    text-align: center;
    color:white;
    padding-top: 50px;
    font-family: 'Quicksand', sans-serif;
}

.contact-description{
    padding: 20px 0;
    text-align: center  ;
    z-index: -1;
    font-family: 'Inconsolata', monospace;
}

form{
    font-family: 'Quicksand', sans-serif;
}

.col-12 .button-for-send{
    padding : 25px 0 55px 0;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.button-send{
    background: none;
    border-radius: 10px;
    border: 2px double white;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color:white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 0.4s;
}

a.button-send:hover {
    background-color: white; 
    color: black;
}

